.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: bisque;
}


.card{
  background-color: aqua;
  width: 20%;
  height: 250px;
  margin: 10px;
  padding: 1rem;
}

.name-header{
  font-size: 20px;
}